<h2>Registration</h2>
<!-- <div>
    <p>Username:</p>
    <input type="text" [(ngModel)]="userAccount.login" placeholder="username">
    
    <p>Password:</p>
    <input type="password" [(ngModel)]="userAccount.password" placeholder="password">

    <p>City:</p>
    <input type="text" [(ngModel)]="userAccount.city" placeholder="Brasov">
    <input type="text" [(ngModel)]="userAccount.password" placeholder="Brasov"> -->

    <!-- <form>

        <div>
            <p>Home address</p>
            
            <p>Country</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.country" placeholder="Romania">

            <p>City</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.city" placeholder="Brasov">

            <p>Street</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.street" placeholder="Strada Calea Bucuresti, nr. 20">

            <p>Zipcode</p>
            <input type="number" [(ngModel)]="userAccount.userAddress.zipcode" placeholder="321534">
        </div>
        <input type="checkbox" name="sameaddress" onclick="FillAddress(this.form)">

        <div>
            <p>Delivery address</p>
            
            <p>Country</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.country" placeholder="Romania">

            <p>City</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.city" placeholder="Brasov">

            <p>Street</p>
            <input type="text" [(ngModel)]="userAccount.userAddress.street" placeholder="Strada Calea Bucuresti, nr. 20">

            <p>Zipcode</p>
            <input type="number" [(ngModel)]="userAccount.userAddress.zipcode" placeholder="321534">
        </div>
    </form>

    <p>Logo</p>
    <input type="text" [(ngModel)]="userAccount.password" placeholder="logo">

</div>

<div *ngFor="let item of UserAccount">
    <button (onclick)="addUserAccount()">Register</button>
</div>

<button (onclick)="addUserAccount()">Register</button> -->

